
    <div fxLayout="row" fxLayoutAlign="space-between center" style="background-color: #30373E;height: 60px;">
      <div fxLayoutAlign="space-around center">
        <img src="../../../assets//icons/club_logo.jpeg" alt="logo" height="60px;" width="240">
      </div>
      <div fxLayoutAlign="space-around center">
        
          <mat-list-item (click)="logout()" style="padding:10px;color: #fff">
              <mat-icon class="md-18" class="menu-icon" >exit_to_app</mat-icon>
              <a class="nav-links" style="font-size: 20px;"> Signout </a>
          </mat-list-item>
    </div>
  </div>
